@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$text: #031920;
$background: #f7f7f7;
$primary: #ffd166;
$seconndary: #ef486f;
$accent: #26547d;

$background-input: #e2e2e2;
$background-input-focus: #d1d1d1;

$button-submit: #073a4b;
$button-submit-focus: #042935;

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: $background;
    color: $text;

    font-family: "Montserrat", sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

form {
    font-family: "Poppins", sans-serif;
}
