* {
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #f7f7f7;
}

a {
  color: #fff;
  text-decoration: none;
}

body#home header {
  background-color: #26547d;
  height: 80px;
  width: 100vw;
  color: #f7f7f7;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body#home header nav {
  display: flex;
  column-gap: 20px;
  max-width: 45vw;
}
body#home header nav a {
  color: #f7f7f7;
  font-size: 24px;
  position: relative;
}
body#home main {
  max-width: 1100px;
  padding: 0 20px;
  margin: auto;
}
body#home main section + section {
  margin-top: 20px;
}

body#login {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}
body#login form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
body#login form input {
  background-color: #e2e2e2;
  border-radius: 4px;
  padding: 5px 10px;
  transition: 200ms;
}
body#login form input:hover, body#login form input:focus {
  background-color: #d1d1d1;
}
body#login form input[type=submit] {
  background-color: #26547d;
  color: #f7f7f7;
  cursor: pointer;
}
body#login form input[type=submit]:hover, body#login form input[type=submit]:focus {
  background-color: #073a4b;
}

body#adminLayout {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
  height: 100vh;
  margin: 0;
}
body#adminLayout header {
  grid-area: header;
  background-color: #26547d;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
@media screen and (max-width: 763px) {
  body#adminLayout header {
    align-items: flex-end;
  }
}
body#adminLayout img {
  position: absolute;
  top: 40px;
  left: 12.5vw;
  transform: translate(-50%, -50%);
}
body#adminLayout nav {
  grid-area: sidebar;
  background-color: #26547d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  font-size: clamp(18px, 2vw, 28px);
}
body#adminLayout nav a {
  transition: 150ms ease-in;
}
body#adminLayout nav a:hover {
  scale: 1.05;
}
@media screen and (max-width: 763px) {
  body#adminLayout nav {
    flex-direction: row;
    column-gap: 40px;
    flex-wrap: wrap;
  }
}
body#adminLayout main {
  grid-area: main;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
body#adminLayout main form {
  max-width: 800px;
  font-size: 18px;
}
body#adminLayout main form input, body#adminLayout main form select {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #e2e2e2;
  transition: 200ms;
}
body#adminLayout main form input:hover, body#adminLayout main form input:focus, body#adminLayout main form select:hover, body#adminLayout main form select:focus {
  background-color: #d1d1d1;
}
body#adminLayout main form button[type=submit] {
  background-color: #073a4b;
  color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 22px;
  transition: 200ms;
  cursor: pointer;
}
body#adminLayout main form button[type=submit]:hover, body#adminLayout main form button[type=submit]:focus {
  background-color: #042935;
}
body#adminLayout main form#formCadastroBuffet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 15px;
}
body#adminLayout main form#formCadastroBuffet fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
body#adminLayout main form#formCadastroBuffet fieldset > label {
  margin-bottom: -15px;
}
body#adminLayout main form#formCadastroBuffet fieldset section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}
body#adminLayout main form#formCadastroBuffet fieldset select#cidade {
  width: 260px;
}
@media screen and (max-width: 763px) {
  body#adminLayout {
    grid-template-columns: 1fr;
    grid-template-rows: 90px 100px 1fr;
    grid-template-areas: "header" "sidebar" "main";
  }
  body#adminLayout img {
    top: 20px;
    left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
