$text: #073a4b;
$background: #f7f7f7;
$primary: #ffd166;
$seconndary: #ef486f;
$accent: #26547d;

$background-input: #e2e2e2;
$background-input-focus: #d1d1d1;

$button-submit: #073a4b;
$button-submit-focus: #042935;

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: $background;
}

a {
    color: #fff;
    text-decoration: none;
}

body#home {
    header {
        background-color: $accent;
        height: 80px;
        width: 100vw;
        color: $background;
        padding: 0 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            display: flex;
            column-gap: 20px;
            max-width: 45vw;

            a {
                color: $background;
                font-size: 24px;
                position: relative;
            }
        }
    }

    main {
        max-width: 1100px;
        padding: 0 20px;
        margin: auto;

        section + section {
            margin-top: 20px;
        }
    }
}

body#login {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        input {
            background-color: $background-input;
            border-radius: 4px;
            padding: 5px 10px;

            &:hover,
            &:focus {
                background-color: $background-input-focus;
            }

            transition: 200ms;
        }

        input[type="submit"]{
            background-color: $accent;
            color: $background;
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: $text;
            }
        }
    }
}

body#adminLayout {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";

    height: 100vh;
    margin: 0;

    header {
        grid-area: header;
        background-color: $accent;
        color: $background;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;

        @media screen and (max-width: 763px) {
            align-items: flex-end;
        }
    }

    img {
        position: absolute;
        top: 40px;
        left: 12.5vw;
        transform: translate(-50%, -50%);
    }

    nav {
        grid-area: sidebar;
        background-color: $accent;
        
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;

        font-size: clamp(18px, 2vw, 28px);

        a {
            transition: 150ms ease-in;
        }

        a:hover {
            scale: 1.05;
        }

        @media screen and (max-width: 763px){
            flex-direction: row;
            column-gap: 40px;
            flex-wrap: wrap;
        }
    }

    main {
        grid-area: main;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: $background;

        padding: 20px;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        
        form {
            max-width: 800px;
            font-size: 18px;
            
            input, select {
                padding: 10px 20px;
                border-radius: 4px;
                background-color: $background-input;
                
                transition: 200ms;

                &:hover,
                &:focus {
                    background-color: $background-input-focus;
                }
            }

            button[type="submit"] {
                background-color: $button-submit;
                color: $background;
                padding: 10px 20px;
                border-radius: 3px;

                font-size: 22px;

                transition: 200ms;
                cursor: pointer;

                &:hover,
                &:focus {
                    background-color: $button-submit-focus;
                }
            }
        }

        form#formCadastroBuffet {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            
            row-gap: 15px;

            fieldset {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                
                &>label {
                    margin-bottom: -15px;
                }

                section {
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 10px;
                    column-gap: 10px;
                    justify-content: center;
                }

                select#cidade {
                    width: 260px;
                }
            }
        }
    }


    @media screen and (max-width: 763px) {
        grid-template-columns: 1fr;
        grid-template-rows: 90px 100px 1fr;
        grid-template-areas:
            "header"
            "sidebar"
            "main";

        img {
            top: 20px;
            left: 20px;
        }
    }
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px 20px;
    border-radius: 4px;
    width: 80vw;
    min-height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    
    &::backdrop {
        background-color: #0009;
    }

    &[open]::backdrop {
        animation: openModal 500ms ease;
    }

    &.hide::backdrop {
        animation: closeModal 500ms ease;
    }

    span {
        position: absolute;
        width: 30px;
        height: 30px;
        
        top: 0%;
        left: 100%;
        transform: translateX(-100%) translate(-5px, 5px);
        
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
    }

    @keyframes openModal {
        from {
            background-color: transparent;
        }
        to {
            background-color: #0009;
        }
    }

    @keyframes closeModal {
        from {
            background-color: #0009;
        }
        to {
            background-color: transparent;
            display: none;
            opacity: 0;
        }
    }
}